<section class="part-two">
 <div class="grid-container">
    <div class="grid-item">
      <img src="./اسحب الصور وحطها.jpeg" alt="لازم تكتبها">
            <span class="plus-icon">+</span>

    </div>
    <div class="grid-item">
      <img src="./اسحب الصور وحطها.jpeg" alt="لازم تكتبها ">
            <span class="plus-icon">+</span>

    </div>
    <div class="grid-item">
      <img src="./اسحب الصور وحطها.jpeg" alt="لازم تكتبها">
            <span class="plus-icon">+</span>

    </div>
    <div class="grid-item">
      <img src="./اسحب الصور وحطها.jpeg" alt="لازم تكتبها">
            <span class="plus-icon">+</span>

    </div>
    <div class="grid-item ">
      <img src="./اسحب الصور وحطها.jpeg" alt="لازم تكتبها">
            <span class="plus-icon">+</span>

    </div>
    <div class="grid-item">
      <img src="./اسحب الصور وحطها.jpeg" alt="لازم تكتبها">
        <span class="plus-icon">+</span>
    </div>
</div>
</section>


{% schema %}
{
  "name": "section2",
  "settings": [],
  "presets": [
    { "name": "section2" }
  ]
}
{% endschema %}