{{ 'gift-guide.css' | asset_url | stylesheet_tag }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lustria&display=swap" rel="stylesheet">

<div class = "page">
    <div class="section1">
           <div class="gift-top-bar">
  <img src="logo.png" class="gift-icon--tisso" alt="Tisso Vison" />
  <p class="gift-top-bar_message">Find the ideal gift for your loved ones.</p>
  <a href="#" class="gift-button gift-button--highlight">
    <span class="gift-icon--arrow-text">CHOOSE GIFT</span>
    <span class="gift-icon--arrow">➝</span>
  </a>
</div>

    </div>
<div class="navplusfpage">
 

{% comment %} <div class="firstframe">
    <img class="imageinframe"
         src="{{ 'Frame.svg' | asset_url }}"
         alt=""
         width="1440" height="780" loading="eager">
  </div>

  <div class="secondframe">
    <div>
      <h1>Hi</h1>
    </div>
    <div class ="parentofseconimageinframe">
      <img class="seconimageinframe"
           src="{{ 'Frame.svg' | asset_url }}"
           alt=""
           width="1440" height="780" loading="lazy">
    </div>
  </div>
</div> {% endcomment %}

</div>



{% schema %}
{
  "name": "task",
  "settings": [],
  "presets": [
    { "name": "task" }
  ]
}
{% endschema %}