.page
{
width:1440px;
height:2000px;
gap :90px;
}
.navplusfpage
{
    width:1440px;;
    height:878px;
}
.nav
{
    width:1440px;
    height:64px;
    margin:10px 50px;
    gap:360px

}


.gift-top-bar {
  background: transparent;
  position: relative;
  z-index: 10;
  display: flex;              /* Horizontal layout */
  align-items: center;        /* Vertical centering */
  justify-content: space-between;
  gap: 5px;                   /* Space between text and button */
  background-color: #F5F5F5;
  padding: 10px 50px;         /* top/bottom - left/right */
  height: 64px;
}

/* first image in nav */
.gift-icon--tisso {
  width: 151px;
  height: 19px;
}

/* Center message text */
.gift-top-bar_message {
  display: flex;
  font-size: 16px;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  align-items: center;
  justify-content: center;
}

/* Button */
.gift-button {
  width: 207px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* space between text and arrow */
  padding: 12px 16px; /* top/bottom - left/right */
  border: 1px solid #000;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.25s ease, color 0.25s ease;
}

/* Yellow button -- highlighted */
.gift-button--highlight {
  background-color: #FFF544;
  border-color: #FFF544;
  font-weight: 400;
}

/* Arrow text container */
.gift-icon--arrow-text {
  display: inline-block;
  transition: transform 0.25s ease; /* Subtle slide on hover */
}

.gift-button:hover .gift-icon--arrow-text {
  transform: translateX(4px);
}

/* Arrow line */
.gift-icon--arrow {
  display: inline-block;
  width: 24px;
  height: 100%;
}



.firstframe
{
    width:1440px;
    height:390px;
    margin-top:64px

}


.secondframe
{

}