<div class="gift-field gift-select">
  <label>Size</label>

  <select hidden>
    <option value="">Choose your size</option>
    <option value="S">S</option>
    <option value="M">M</option>
    <option value="L">L</option>
  </select>

  <div class="custom-dropdown">
    <div class="dropdown-header">
      <span class="dropdown-text">Choose your size</span>
      <div class="dropdown-arrow">
        <div class="dropdown-divider"></div>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
             fill="none" stroke="black" stroke-width="2"
             stroke-linecap="round" stroke-linejoin="round">
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </div>
    </div>
    <ul class="dropdown-list">
      <li data-value="S">S</li>
      <li data-value="M">M</li>
      <li data-value="L">L</li>
    </ul>
  </div>
</div>

<style>
/* نفس الـ CSS اللي عندك */
</style>

<script>
/* نفس الـ JS اللي عندك */
</script>
